<div>
    <h2 class="ms-2 mt-2">Sala de chat</h2>
    <hr class="my-2">
    <input
        placeholder="Escribí tu mensaje" type="text" id="msgUser" class="ms-2">
    <ul id="mensajes">

    </ul>     
</div>

<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js "></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../chat.js" type="module"></script>