<style>
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #5c8bd1;
        color: #ffffff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin: 5px;
        transition: 0.5s;
    }

    button:hover {
        background-color: #3d70bb;
    }

    #btnGitHubContainer{
        background-color: #1b1f23;
        display: flex;
        justify-content: center;
        margin: auto 5px;
        border-radius: 5px;
    }
    #btnGitHubContainer button{
        background-color: #1b1f23;
    }
    #btnGitHubContainer img{
        width: 30px;
        height: 30px;
        align-self:center;
    }
</style>

<img src="../preloader.gif" width="100px" id="preLoader">

<div id="container" class="d-none">
    <div class="container">
        <button type="button" id="btnLogin">Iniciar sesión</button>
        <button type="button" id="btnRegister">Registrarse</button>
        <div id="btnGitHubContainer">
            <img src="../github-mark-white.png">
            <button type="button" id="btnGitHub">Ingresar con GitHub</button>
        </div>
        <div class="d-flex flex-row">
            <button type="button" id="btnProfile">Perfil</button>
            <button type="button" id="btnProducts">Productos</button>
            <button type="button" id="btnCarts">Ver carrito</button>
        </div>
        <button type="button" id="btnLogout">Cerrar sesión</button>
    </div>
</div>

<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js "></script>
<script src="../inicio.js" type="module"></script>