<div>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #5c8bd1;
            color: #ffffff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin: 5px;
            transition: 0.5s;
        }

        button:hover {
            background-color: #3d70bb;
        }
    </style>

    <div class="container">
        <button type="button" id="btnLogin">Iniciar sesión</button>
        <button type="button" id="btnRegister">Registrarse</button>
        <div class="d-flex flex-row">
            <button type="button" id="btnProfile">Perfil</button>
            <button type="button" id="btnProducts">Productos</button>
            <button type="button" id="btnCarts">Carritos</button>
        </div>
        <button type="button" id="btnLogout">Cerrar sesión</button>
    </div>
</div>

<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js "></script>
<script src="../inicio.js" type="module"></script>