<h1>Nueva contraseña</h1>

<hr>

<form action="/sessions/passUpdate/{{user}}" method="POST">
    Nueva contraseña: <input type="text" name="newPassword"> <input type="submit" value="Change password">
</form>