<style>
    .rectangulo {
        width: 300px;
        padding: 20px;
        border: 1px solid black;
        border-radius: 5px;
    }

    .campo {
        margin-bottom: 10px;
    }

    .campo label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .campo span {
        display: inline-block;
        padding: 3px 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
</style>

<div class="d-flex justify-content-center mt-5">
    <div class="rectangulo">
        <div class="campo">
            <label>Nombre:</label>
            <span>{{ data.first_name }}</span>
        </div>
        <div class="campo">
            <label>Apellido:</label>
            <span>{{ data.last_name }}</span>
        </div>
        <div class="campo">
            <label>Email:</label>
            <span>{{ data.email }}</span>
        </div>
        <div class="campo">
            <label>Rol:</label>
            <span>{{ data.role }}</span>
        </div>
    </div>
</div>
