<div id="prodContainer" class="d-flex flex-row flex-wrap">
    
</div>
<hr>

<form name="productForm">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title"><br>
    <label for="description">Description:</label><br>
    <input type="text" id="description" name="description"><br>
    <label for="code">Code:</label><br>
    <input type="text" id="code" name="code"><br>
    <label for="price">Price:</label><br>
    <input type="text" id="price" name="price"><br>
    <label for="stock">Stock:</label><br>
    <input type="text" id="stock" name="stock"><br>
    <label for="category">Category:</label><br>
    <input type="text" id="category" name="category"><br>
    <label for="thumbnail">Thumbnail:</label><br>
    <input type="text" id="thumbnail" name="thumbnail"><br>
    <button id="submitProduct">Submit product</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="../index.js" type="module"></script>